
<div id="container">
    <header>
        <img src="assets/logo.jpg" style="float: left"> 
        <nav>
            <ul>
                <li>
                    <a href=#>
                        La clinica
                    </a>
                </li>
            </ul>
        </nav>
    
        <nav>
            <ul>
                <li>
                    <a href=#>
                        Programas de Salud
                    </a>
                </li>
            </ul>
        </nav>
    
        <nav>
            <ul>
                <li>
                    <a href=#>
                        cuadro Medico
                    </a>
                </li>
            </ul>
        </nav>
    
        <nav>
            <ul>
                <li>
                    <a href=#>
                        Especialidades
                    </a>
                </li>
            </ul>
        </nav>
    
        <nav>
            <ul>
                <li>          
                    <a href=#>
                        Contacto
                    </a>
                </li>
            </ul>
        </nav>
        <a routerLink = "login">
            <img src = "assets/entrar.png" style="float : right; height: 70px; padding-top: 10px; padding-right: 10px;">
        </a>
        
    </header>
    
    <div class="clearfix"></div>

    <section id="content">

        <article class="article">
            <h2>Nuestra misión</h2>
            <p></p>
            <p>Transformar el conocimiento de nuestros profesionales médicos en valor para el beneficio de nuestros pacientes, prestándoles una atención médica personal, de una alta calidad asistencial, tecnología innovadora, con la máxima profesionalidad, respeto y eficacia.</p>

        </article>

        <article class="article">
            <h2>Especialidades</h2>
            <p>*Servicio de Endocrinología. Jefa de Servicio: Dra.</p>
            <p>*Servicio de Alergia. Jefe de Servicio: Dr.</p>  
            <p>*Servicio de Genética. Jefa de Servicio: Dra.</p> 
            <p>*Servicio de Dermatología. Jefe de Servicio: Dr.</p>  
            <p>*Servicio de Reumatología. Jefe de Servicio: Dr.</p>    

        </article>

        <article class="article">
            <h2>Principales beneficios de Campoamor</h2>
            
            <img src="assets/servicios.jpg" alt="">
            

            

        </article>

        <article class="article">
            <h2>Conoce nuestros Servicios Digitales</h2>
           
            <img src="assets/servicios digitales.jpg" alt="">
            

        </article>

    </section>

    <aside>
        
    </aside>

    <div class="clearfix"></div>

    <footer>
        © 2021 Clínica VerySalud | Todos los derechos reservados
    </footer>

</div>    

